@font-face {
  font-family: 'Cascadia Code';
  src: url('./fonts/CascadiaCode-2102.25/woff2/CascadiaCode.woff2') format('woff2'),
       url('./fonts/CascadiaCode-2102.25/ttf/CascadiaCode.ttf') format('truetype');
       /* url('../fonts/otf/cascadia-code.otf') format('opentype'); */
  font-weight: normal;
  font-style: normal;
}

body{
    background-color: #f8f1e4;
    font-family: "Kanit", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: goldenrod;

}


.nav-items Nav{
    /* margin-right: 20px; */
    display: flex;
    
}
Nav .m-3{
  cursor: pointer;
}
.nav-items{
    font-size: large;
    color: #754739 !important;
    font-weight: 500;
    font-family: "Kanit", sans-serif;

}
.nav-background{
  background-color: white;
}
/* .aboutback{
  margin-top: -24px;
  
  background-image: url('../assets/images/obg.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  height: 550px; 
  background-position: center;
} */
.ima{
    height: 350px;
    width: auto;
    border-radius: 150px 150px 30px 30px ;
    /* border-radius: 100%; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border: 1px solid #ddd;
}
.slider{
    
    text-align: center;
}
.slider h2{
    padding: 50px;
}
.skills{
  font-family: 'Cascadia Code', monospace;
  border: 1px solid rgb(217, 217, 217);
  padding: 15px 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: small;
  font-weight: 400;
}
.card-img-top{
    width: 80px;
    height: 80px;
}
.card-name{
    color: white;
}
.content-3{
    margin: 50px 0 50px 0;
    text-align: left;
    padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  margin-bottom: 20px;
}
.project-image{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
.download{
    background-color: goldenrod;
  padding: 10px 30px;
}
.download:hover{
    background-color: #f8e1d2;
}


.moreimages{
    padding: 15px;
    margin: auto;
    border: 1px solid #754739;
    width: 155px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.education-card:hover{
    transform: scale(1.1); 
}
.education-card {
    background-color: white;
    display: flex;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 8px;
    min-height: 230px;
    padding: 16px;
    margin: 60px 0 60px 0;
    transition: transform 200ms ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .education-logo {
    width: 50px;
    height: 50px;
    margin-right: 16px;
    border-radius: 50%;
  }
  
  .education-details {
    flex: 1;
  }
  
  .university-name {
    font-size: 1.2em;
    margin: 0;
    color: #333;
  }
  
  .course-name {
    font-size: 1em;
    margin: 8px 0;
    color: #555;
  }
  
  .education-year, .education-score {
    font-size: 0.9em;
    color: #777;
  }
  .form-body{
    background-color: white;
    padding: 50px 30px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* border: 1px solid #ddd; */
    border-radius: 10px;
  }
  .getintouch{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .send{
    color: white;
    background-color: goldenrod;
    padding: 10px;
    font-weight: 500;
    font-family: "Kanit", sans-serif;
}
.send:hover{
      background-color: goldenrod;
    opacity: .5;
    
  }
  .footer{
    margin-top: 30px;
  }
  .icon-hover{
    cursor: pointer;
  }

  
  .moreimages {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .more-icon {
    height: 20px;
    width: 20px;
    color: blue;
    margin-left: 5px;
  }
  .logo{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "MORF" 0;
      font-size: 32px;
  }
.project-image1{
    width: 200px;
}
.sweet-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 330px) {
  .typeanimation{
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 400px) {
  .typeanimation{
    margin-bottom: -78px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .typeanimation{
    margin-bottom: -78px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .typeanimation{
    margin-bottom: -78px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .typeanimation{
    margin-bottom: -78px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .typeanimation{

  }
}